.boxOne {
    &::after {content:''; display:block; clear:both;}

    .leftBox {
        float: left;
        width: 22%;
        background-color: cadetblue;
        ul {
            li {
                cursor: pointer;
                width: 100%;
                height: 50px;
                line-height: 50px;
                padding-left: 15px;
                border: 1px solid rgb(230,230,230);
                border-top: none;
                background-color: burlywood;
            }
            .leftBoxTop {
                background-color: coral;
                text-align: center;
                height: 80px;
                line-height: 80px;
            }
        }
    }

    .boxContents {
        float: left;
        width: 78%;
        height: 100%;
        padding: 30px;
        h2 {
            text-align: left;
            font-size: 30px;
            margin-bottom: 10px;
        }
        p {
            text-align: left;
            font-size: 15px;
            margin-bottom: 10px;
        }

        .boxContentsBoxTop {
            width: 100%;
            height: 300px;
            background-color: #fff;
            padding: 25px;
            margin-bottom: 30px;
            border: 2px solid rgb(230,230,230);

            h3 {
                font-size: 20px;
                margin-bottom: 10px;
            }

            p {
                font-size: 17px;
            }
        }

        .boxContentsBoxBot {
            width: 100%;
            height: 100%;
            &::after {content:''; display:block; clear:both;}
            .boxArea {
                cursor: pointer;
                float: left;
                width: 280px;
                height: 280px;
                margin-right: 18px;
                margin-bottom: 18px;
                background-color: aquamarine;
                &:nth-of-type(3n) {
                    margin-right: 0;
                }
            }
        }
    }
}