@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none;}
ol, ul, li {list-style: none;}

@import "subOne.css";

#header {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    .headerTop {
        background-color: cornflowerblue;
        .headerTopInner {
            width: 1200px;
            height: 35px;
            margin: 0 auto;
            background-color: blueviolet;
            &::after {content:''; display:block; clear:both;}
            ul {
                float: right;
                li {
                    display: inline-block;
                    p {
                        text-align: center;
                        width: 40px;
                        line-height: 35px;
                        height: 100%;
                        background-color: aqua;
                    }
                }
            }
        }
    }

    .headerBot {
        background-color: #fff;
        width: 100%;
        height: 85px;
        border-bottom: 1px solid rgb(230,230,230);
        .headerBotInner {
            width: 1200px;
            margin: 0 auto;
            &::after {content:''; display:block; clear:both;}
            .headerLeft {
                float: left;
                .mainLogo {
                    cursor: pointer;
                    width: 170px;
                    height: 85px;
                    background-color: crimson;
                }
            }

            .headerRight {
                float: right;
                ul {
                    text-align: center;
                    li {
                        display: inline-block;
                        width: 100px;
                        height: 85px;
                        line-height: 85px;
                        background-color: crimson;
                    }
                }
            }
        }
    }
}

#main {
    width: 100%;
    height: 100%;
    background-color: royalblue;
    .mainArt {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        background-color: antiquewhite;
        &:last-child {margin-bottom: none;}
    }
}

#footer {
    width: 100%;
    height: 200px;
    background-color: darkblue;
    .footerInner {
        width: 1200px;
        height: 200px;
        margin: 0 auto;
        background-color: aquamarine;
    }
}