@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
a {text-decoration: none;}
ol, ul, li {list-style: none;}

@import "subOne.css";
@import "boxOne.css";
@import "login.css";
@import "mapOne.css";
@import "jsonOne.css";
@import "swiperOne.css";

#header {
    width: 100%;
    height: 100%;
    background-color: skyblue;
    .headerTop {
        background-color: cornflowerblue;
        .headerTopInner {
            width: 1200px;
            height: 35px;
            margin: 0 auto;
            background-color: blueviolet;
            &::after {content:''; display:block; clear:both;}
            ul {
                float: right;

                &::after {content:''; display:block; clear:both;}
                li {
                    float: left;
                    a {
                        display: block;
                    }
                    a, p {
                        text-align: center;
                        width: 70px;
                        height: 100%;
                        line-height: 35px;
                        height: 100%;
                        background-color: aqua;
                    }
                }
            }
        }
    }

    .headerBot {
        background-color: #fff;
        width: 100%;
        height: 85px;
        border-bottom: 1px solid rgb(230,230,230);
        .headerBotInner {
            width: 1200px;
            margin: 0 auto;
            &::after {content:''; display:block; clear:both;}
            .headerLeft {
                float: left;
                .mainLogo {
                    cursor: pointer;
                    width: 170px;
                    height: 85px;
                    text-align: center;
                    line-height: 85px;
                    color: #fff;
                    background-color: crimson;
                }
            }

            .headerRight {
                float: right;

                &::after {content:''; display:block; clear:both;}
                ul {
                    text-align: center;
                    li {
                        float: left;
                        width: 100px;
                        height: 85px;
                        line-height: 85px;
                        background-color: crimson;
                    }
                }
            }
        }
    }
}

#main {
    width: 100%;
    height: 100%;
    background-color: royalblue;
    .mainArt {
        width: 1200px;
        height: 100%;
        margin: 0 auto;
        background-color: antiquewhite;
        
        .mainContents {
            padding: 30px;
            border-bottom: 5px solid #fff;
            width: 100%;
            height: 300px;
        }
    }
}

#footer {
    width: 100%;
    height: 200px;
    background-color: darkblue;
    .footerInner {
        width: 1200px;
        height: 200px;
        margin: 0 auto;
        background-color: aquamarine;
    }
}

.showBox {
    position: fixed;
    bottom: 50px;
    right: 50px;
    .showBoxInner {
        .showBoxInnerIMG {
            cursor: pointer;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 3px solid bisque;
            background-image: url(../img/swiperFox.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-origin: border-box;
            background-clip: content-box, border-box;
            transition: 0.2s;
        }
    }

    // showBox에 다른 박스나 글자도 넣고싶어질 수 있으므로 일부러 
    // 쇼박스 영역에 마우스 호버만 해도 이미지에 변화가 생기게 hover를 바깥에 위치시킴.
    &:hover {
        .showBoxInner {
            .showBoxInnerIMG {
                border: 3px solid transparent;
                background-image: url(../img/swiperFox.jpg), 
                linear-gradient(to right, red 0%,  orange 100%);
                background-origin: border-box;
                background-clip: content-box, border-box;
                transition: 0.2s;
            }
        }
    }
}