.swiperOne {
    .swiperContents {
        #SwiperMainFrame {
            .swiper-slide {
                cursor: pointer;
                height: 500px;
                background-color: forestgreen;
                .SwiperText {
                    font-size: 25px;
                }
                .SwiperTextMore {
                    font-size: 20px;
                }
            }
        }
    }
}

.swiperTwo {
    .swiperTwoContents {
        padding: 30px;
        width: 100%;
        height: 400px;
    }
}